html {
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
body {
  position: fixed;
  height: 100vh;
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: $nunito-sans;
  font-size: 100%;
  color: $primary-color;
  overflow-x: hidden;
  background: $background;
  background-image: url('~/assets/img/background-img.svg');
  background-repeat: no-repeat;
  background-position-x: center;
  &.noscroll {
    overflow: hidden;
  }
}
.child-body {
  box-sizing: border-box;
  position: relative;
  overflow: scroll;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  margin-top: 8rem;
}
.flex {
  @include breakpoint-up(large) {
    display: flex;

    &-jc-sb {
      justify-content: space-between;
    }
    &-jc-c {
      justify-content: center;
    }

    &-ai-c {
      align-items: center;
    }
    &-50 {
      flex: 1;
    }
    &-wrap {
      flex-wrap: wrap;
    }
  }
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: $primary-color;
}

.button {
  display: inline-block;
  border-radius: 5px;
  background-color: $button-green;
  color: $primary-color !important;
  padding: 0.75rem 1.5rem;
  border: 0 transparent;
  outline: none;
  font-size: $font-medium;
  cursor: pointer;

  &:focus {
    border: 0 transparent;
    outline: none;
  }
}

.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}

.container {
  @include breakpoint-down(medium) {
    padding: $padding-mobile;
  }
  @include breakpoint-up(large) {
    padding: $padding-web;
  }
}
h1 {
  font-family: $nunito;
  font-weight: 700;
  @include breakpoint-down(medium) {
    font-size: 1.5rem;
    line-height: 2.01rem;
  }
  @include breakpoint-up(large) {
    font-size: 3rem;
    line-height: 3.35rem;
  }
}
h2 {
  font-family: $nunito;
  line-height: 2rem;
  font-size: 1.5rem;
  @include breakpoint-up(large) {
    font-size: 2rem;
    line-height: 2.8125rem;
  }
}
h5 {
  font-family: $nunito;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.7575rem;
  margin-bottom: 0.5625rem;
}
p {
  line-height: 1.5625rem;
  margin-bottom: 0.875rem;
  @include breakpoint-up(xxlarge) {
    font-size: 1.3rem;
    line-height: 1.8625rem;
  }
}
h3 {
  font-family: $nunito;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 2.2rem;
  @include breakpoint-up(large) {
    font-size: 1.5rem;
  }
}
h6 {
  font-family: $nunito;
  color: $light-green;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5625rem;
  @include breakpoint-up(large) {
    margin-bottom: 0.90625rem;
  }
}
.position {
  &__absolute {
    position: absolute;
  }
}
.p-tb {
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
}
.p-l {
  padding-left: 0.5rem;
}
.p-r {
  padding-right: 0.5rem;
}
.m-t {
  margin-top: 0.5rem;
}
.m-b {
  margin-bottom: 0.5rem;
}
.image-padding {
  padding: 5rem;
}
.padding {
  padding-top: 2rem;
  padding-bottom: 2rem;
  @include breakpoint-up(large) {
    padding-top: 3.25rem;
    padding-bottom: 3.25rem;
  }
}
.column-6 {
  width: 100%;
  @include breakpoint-up(large) {
    width: 50%;
  }
}
