$nunito: 'Nunito', sans-serif;
$nunito-sans: 'Nunito Sans', sans-serif;

$primary-color: #fff;
$gold: #daa520;
$light-green: #499167;
$dark-green: rgba(122, 103, 0, 0.8);
$button-green: rgba(122, 103, 0, 0.5);
$dark-red: #b4192a;
$background: #000;
$dark-grey: #191919;
$font-medium: 1rem;
$font-large: 1.0625rem;
$border-radius: 0.25rem;
$padding-mobile: 0 1.5rem;
$padding-web: 0 6.4375rem;

$image-padding: 4rem;
$s16: 1rem;
$s18: 1.125rem;
$s20: 1.25rem;
$s24: 1.5rem;
$s32: 2rem;
